{% extends '_partials/base.html' %}
{% load static %}
{% block content %}

<div class="breadcrumb-area">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
<div class="breadcrumb-wrap">
<h2>About Us</h2>
<ul class="breadcrumb-links">
<li>
<a href="index-2.html">Home</a>
<i class="bx bx-chevron-right"></i>
</li>
<li>About Us</li>
</ul>
</div>
</div>
</div>
</div>
</div>


<div class="about-wrapper mt-120">
<div class="container">
<div class="row">
<div class="col-lg-7 col-md-12">
<div class="about-wrapper-left">
<div class="about-img wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms">
<img src="assets/images/about-1.png" alt="" class="img-fluid">
</div>
<div class="about-video wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
<img src="assets/images/about-2.png" alt="" class="img-fluid">
<a class="video-icon" href="https://youtu.be/-tJYN-eG1zk"><i class="flaticon-play-button-arrowhead"></i>
</a>
</div>
</div>
</div>
<div class="col-lg-5 col-md-12">
<div class="about-wrapper-right section-head head-left">
<h5>About TourX</h5>
<h2>The Best Travel Agency
Company.</h2>
<p>Fusce aliquam luctus est, eget tincidunt velit scelerisque
rhoncus. Aliquam lacinia ipsum ornare, porttitor risus nec,
mattis mauris. Nunc nec ornare nisi, vel elementum est.
Proin malesuada venenatis ex, eu fringilla justo scelerisque
sit amet. Sed fringilla nec purus non venenatis. Aliquam
nec turpis pharetra, bibendum lorem in, sollicitudin nibh.
Nulla sit amet lacus diam.</p>
<ul class="about-list">
<li><i class="flaticon-double-checking"></i> Donec viverra orci On a</li>
<li><i class="flaticon-double-checking"></i> Donec viverra orci On a</li>
<li><i class="flaticon-double-checking"></i> Donec viverra orci On a</li>
<li><i class="flaticon-double-checking"></i> Donec viverra orci On a</li>
<li><i class="flaticon-double-checking"></i> Donec viverra orci On a</li>
<li><i class="flaticon-double-checking"></i> Donec viverra orci On a</li>
</ul>
<div class="about-wrapper-btn">
<a href="#" class="btn-common">Read More</a>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="guide-wrapper mt-120">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
<div class="section-head head-left pb-40">
<h5>Tour Guide</h5>
<h2>All Guide Are 5 Year Expart In Travel</h2>
</div>
</div>
</div>
<div class="guide-slider owl-carousel">
<div class="guide-card">
<div class="guide-thumb">
<img src="assets/images/guide/guide-1.png" alt="" class="img-fluid">
<div class="guide-info">
<strong>Sakura Chen</strong>
<p>Tour Guide</p>
<ul class="guide-links">
<li>
<a href="#"><i class='bx bxl-instagram'></i></a>
</li>
<li>
<a href="#"><i class='bx bxl-facebook'></i></a>
</li>
<li>
<a href="#"><i class='bx bxl-twitter'></i></a>
</li>
<li>
<a href="#"><i class='bx bxl-whatsapp'></i></a>
</li>
</ul>
</div>
</div>
</div>
<div class="guide-card">
<div class="guide-thumb">
<img src="assets/images/guide/guide-3.png" alt="" class="img-fluid">
<div class="guide-info">
<strong>Sakura Chen</strong>
<p>Tour Guide</p>
<ul class="guide-links">
<li>
<a href="#"><i class='bx bxl-instagram'></i></a>
</li>
<li>
<a href="#"><i class='bx bxl-facebook'></i></a>
</li>
<li>
<a href="#"><i class='bx bxl-twitter'></i></a>
</li>
<li>
<a href="#"><i class='bx bxl-whatsapp'></i></a>
</li>
</ul>
</div>
</div>
</div>
<div class="guide-card">
<div class="guide-thumb">
<img src="assets/images/guide/guide-4.png" alt="" class="img-fluid">
<div class="guide-info">
<strong>Sakura Chen</strong>
<p>Tour Guide</p>
<ul class="guide-links">
<li>
<a href="#"><i class='bx bxl-instagram'></i></a>
</li>
<li>
<a href="#"><i class='bx bxl-facebook'></i></a>
</li>
<li>
<a href="#"><i class='bx bxl-twitter'></i></a>
</li>
<li>
<a href="#"><i class='bx bxl-whatsapp'></i></a>
</li>
</ul>
</div>
</div>
</div>
<div class="guide-card">
<div class="guide-thumb">
<img src="assets/images/guide/guide-2.png" alt="" class="img-fluid">
<div class="guide-info">
<strong>Sakura Chen</strong>
<p>Tour Guide</p>
<ul class="guide-links">
<li>
<a href="#"><i class='bx bxl-instagram'></i></a>
</li>
<li>
<a href="#"><i class='bx bxl-facebook'></i></a>
</li>
<li>
<a href="#"><i class='bx bxl-twitter'></i></a>
</li>
<li>
<a href="#"><i class='bx bxl-whatsapp'></i></a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="achievement-area p-80 mt-120">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
<div class="section-head pb-30">
<h5>Why TourX</h5>
<h2>Why you are travel with tourx</h2>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6 wow fadeInLeft animated" data-wow-duration="1500ms" data-wow-delay="0ms">
<div class="achievement-card mt-30">
<div class="achievement-icon">
<i class="flaticon-guide"></i>
</div>
<h5>2000+ Our worldwide
guide</h5>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 wow fadeInLeft animated" data-wow-duration="1500ms" data-wow-delay="200ms">
<div class="achievement-card mt-30">
<div class="achievement-icon">
<i class="flaticon-trust"></i>
</div>
<h5>100% trusted travel agency</h5>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 wow fadeInLeft animated" data-wow-duration="1500ms" data-wow-delay="400ms">
<div class="achievement-card mt-30">
<div class="achievement-icon">
<i class="flaticon-experience"></i>
</div>
<h5>10+ year of travel experience</h5>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 wow fadeInLeft animated" data-wow-duration="1500ms" data-wow-delay="600ms">
<div class="achievement-card mt-30">
<div class="achievement-icon">
<i class="flaticon-traveller"></i>
</div>
<h5>90% of our traveller happy</h5>
</div>
</div>
</div>
</div>
</div>





<div class="review-area mt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-head pb-40">
                    <h5>Our Traveller Say</h5>
                    <h2>What Oue Traveller Say About Us</h2>
                </div>
            </div>
        </div>
        <div class="review-slider owl-carousel owl-loaded owl-drag">

            <div class="owl-stage-outer">
                
                <div class="owl-stage"
                    style="transform: translate3d(-1481px, 0px, 0px); transition: all 0s ease 0s; width: 5575px; padding-left: 10px; padding-right: 10px;">
                   
                    {% for r in rev %}
                    
                    <div class="owl-item active" style="width: 355.333px; margin-right: 15px;">
                        <div class="review-card ">
                            <div class="reviewer-img">
                                <img src="{{r.image.url}}" alt=""
                                    class="img-fluid">
                            </div>
                            <div class="reviewer-info">
                                <h3>{{r.name}}</h3>
                                <h5>Traveller</h5>
                                <p>{{r.quote}}</p>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                </div>
                
            </div>
            <div class="owl-nav disabled">
                <button type="button" role="presentation" class="owl-prev"><i class="bx bx-chevron-left"></i></button>
                <button type="button" role="presentation" class="owl-next"><i class="bx bx-chevron-right"></i></button>
            </div>

        </div>
    </div>
</div>



<div class="blog-area pt-120">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
<div class="section-head pb-30">
<h5>Latest Blog</h5>
<h2>Stay Updated And new post our Blog</h2>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-4 col-md-6 col-sm-6 wow fadeInLeft animated" data-wow-duration="1500ms" data-wow-delay="0ms">
<div class="blog-card">
<div class="blog-img">
<img src="assets/images/blog/b-1.png" alt="" class="img-fluid">
<div class="blog-date"><i class="flaticon-calendar"></i> 1 April, 2021</div>
</div>
<div class="blog-details">
<div class="blog-info">
<a class="blog-writer" href="#"><i class="flaticon-user"></i>Dina Jems</a>
<a class="blog-comment" href="#"><i class="flaticon-comment"></i><span>(3)</span>Comment</a>
</div>
<a href="blog-details.html" class="blog-title">Donec egestas orci viverra
fermentum risus.</a>
<div class="blog-btn">
<a href="#" class="btn-common-sm">Read More</a>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6  wow fadeInLeft animated" data-wow-duration="1500ms" data-wow-delay="300ms">
<div class="blog-card">
<div class="blog-img">
<img src="assets/images/blog/b-2.png" alt="" class="img-fluid">
<div class="blog-date"><i class="flaticon-calendar"></i> 1 April, 2021</div>
</div>
<div class="blog-details">
<div class="blog-info">
<a class="blog-writer" href="#"><i class="flaticon-user"></i>Dina Jems</a>
<a class="blog-comment" href="#"><i class="flaticon-comment"></i><span>(3)</span>Comment</a>
</div>
<a href="blog-details.html" class="blog-title">Praesent ut mattis ante the Nullam lobortis. </a>
<div class="blog-btn">
<a href="#" class="btn-common-sm">Read More</a>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 wow fadeInLeft animated" data-wow-duration="1500ms" data-wow-delay="600ms">
<div class="blog-card">
<div class="blog-img">
<img src="assets/images/blog/b-3.png" alt="" class="img-fluid">
<div class="blog-date"><i class="flaticon-calendar"></i> 1 April, 2021</div>
</div>
<div class="blog-details">
<div class="blog-info">
<a class="blog-writer" href="#"><i class="flaticon-user"></i>Dina Jems</a>
<a class="blog-comment" href="#"><i class="flaticon-comment"></i><span>(3)</span>Comment</a>
</div>
<a href="blog-details.html" class="blog-title">Maecenas vehicula risus non neque tincidunt.</a>
 <div class="blog-btn">
<a href="#" class="btn-common-sm">Read More</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.6.0.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/typed.js"></script>

<script src="assets/js/main.js"></script>


{% endblock content %}