{% extends '_partials/base.html' %}
{% load static %}
{% block content %}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="breadcrumb-wrap">
                    <h2>Destination</h2>
                    <ul class="breadcrumb-links">
                        <li>
                            <a href="index-2.html">Home</a>
                            <i class="bx bx-chevron-right"></i>
                        </li>
                        <li>Destination</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="destinations-area pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-head pb-30">
                    <h5>Popular Destinations</h5>
                    <h2>Select Our Best Popular Destinations</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="package-slider-wrap">
                    <img src="{% static 'assets/images/destination/d-1.png' %}" alt="" class="img-fluid">
                    <div class="pakage-overlay">
                        <strong>Pakistan</strong>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="row owl-carousel destinations-1">
                    {% for des in destination %}
                    <div class="package-card">
                        <div class="package-thumb">
                            <img src="/media/{{des.image}}" alt="" class="img-fluid"></div>
                        <div class="package-details">
                            <div class="package-info">
                                <h5><span>${{des.price}}</span>/Per Person</h5>
                            </div>
                            <h3><i class="flaticon-arrival"></i>
                                <a href="/package/detail/{{des.slug}}">{{ des.name }}</a>
                            </h3>
                            <div class="package-rating">
                                <strong><i class='bx bxs-star'></i><span>8K+</span> Rating</strong>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}